# Ignore Python bytecode
__pycache__/
*.py[cod]
# Logs and runtime files
log/

# Ignore the re/ directory
re/

# Ignore egg-info directories
*.egg-info/

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore virtual environments (if applicable)
venv/
.venv/
.venv_310/
env/

# Ignore IDE specific files (optional, if you're using an IDE like PyCharm, VS Code, etc.)
.idea/
.vscode/

output.wav
output_video.mp4

build/